.personajes {
    z-index: 0 !important;
    width: 100% !important;
    height: 500px !important;
    background-image: url("../img/bg-personajes.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
}

.center {
    padding-top: 6em !important;
}

.header {
    z-index: 0 !important;
    width: 100% !important;
    height: 500px !important;
    background-image: url("../img/bg-episodios.jpg") !important;
    background-color: rgb(39, 38, 38) !important;
    background-blend-mode: soft-light !important;  
    background-repeat: no-repeat !important;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center center !important;
}

